@import '../colors.module.scss';
.auto {
    &-header {
        font-size: 46px;
        font-weight: bold;
        color: $Corp-Black;
        text-align: left;
    }
    &-wrap {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    &-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 218px;
        height: 120px;
        background-color: $Ctr-White;
    }
}

@media screen and (max-width: 1200px) {
    .auto-wrap {
        justify-content: center;
    }
    .auto-header {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .auto-header {
        font-size: 37px;
    }
}
