@import '../colors.module.scss';
.popular {
    &-header {
        font-size: 46px;
        font-weight: bold;
        color: $Corp-Black;
        text-align: left;
    }
    &-wrap {
        display: flex;
        margin-top: 1rem;
        //background-color: $Ctr-White;
        flex-wrap: wrap;
        gap: 1rem;
    }
    &-car {
        width: 300px;
        height: 300px;
    }
}
