@import '../colors.module.scss';

h3 {
    color: $Corp-Red;
    font-family: Montserrat;

    font-weight: bold;
    font-size: 48px;
}
p {
    font-size: 24px;
    color: $Sec-Gray;
    margin-top: 45px;
}

.btn-price {
    //font-family: Montserrat;
    font-weight: bold;
    margin-top: 45px;
    background-color: $Corp-Blue;
    width: 331px;
    height: 55px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: $Ctr-White;
    a {
        text-decoration: none;
        color: $Ctr-White;
    }

    &:disabled {
        background-color: $Sec-Gray;
        cursor: not-allowed;
    }
}

@media screen and (max-width: 500px) {
    .btn-price {
        width: 265px;
    }
    h3 {
        font-size: 28px;
    }
    p {
        font-size: 20px;
    }
}
