/* custom css */

.parts_item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    padding: 0 6rem;
}
.parts_container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow 0.25s;
    border-radius: 2px;
}

.card-panel,
.card,
.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card_content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    min-height: 99px;
}
.card_title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
}

.card_red {
    background-color: #a62028;
}
.card_blue {
    background-color: #2b74ac;
}
.card_green {
    background-color: #1fa492;
}
.card_disabled {
    opacity: 0.5;
}

.tab__wrap {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    order: 2;
    padding: 0 2rem;
}
.tab__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6f6fc;
    width: 265px;
    height: 59px;

    cursor: pointer;
}
.tab__btn a {
    text-decoration: none;
    color: black;
}

.tab__btn:nth-child(1) {
    order: 2;
}
.tab__btn:nth-child(2) {
    order: 3;
}
.tab__btn:nth-child(3) {
    order: 1;
}
.tab__btn:nth-child(4) {
    order: 4;
}
.tab__btn:hover {
    background-color: #ade9ff;
}
.tab__btn__active {
    background-color: #368fad;
}

.scheme__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20rem;
    order: 1;
}
.scheme__img {
    width: 238px;
    transition: 450ms;
}
.scheme__img:hover {
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5))
        drop-shadow(0px 0px 15px rgba(50, 10, 50, 0.9));
}

.scheme__img_resonator {
    width: 480px;
    transform: translate(-48px, -38px);
}
.scheme__img_muffler {
    transform: translate(-80px, -121px);
}

.scheme__img_active {
    filter: drop-shadow(0px 0px 15px rgba(29, 34, 63, 0.5))
        drop-shadow(0px 0px 15px rgba(15, 4, 15, 0.9));
    transform: scale(1.21) rotate(15deg) translate(-61px, -20px);
}

/***  scheme__part **/

.scheme__part {
    z-index: 5;
}
.scheme__part:first-child {
    z-index: 10;
}
.scheme__part:last-child {
    z-index: 1;
}

@media screen and (max-width: 1100px) {
    /*fix_*/
}

@media screen and (max-width: 960px) {
    .tab__wrap {
        flex-direction: column;
    }
    .scheme__wrap {
        flex-direction: column;
    }
    .scheme__img {
        width: 170px;
    }
    .scheme__img_resonator {
        width: 285px;
        transform: translate(0px, 11px);
    }
    .scheme__img_muffler {
        transform: translate(-35px, -17px);
    }
    .scheme__img_active {
        filter: drop-shadow(0px 0px 15px rgba(29, 34, 63, 0.5))
            drop-shadow(0px 0px 15px rgba(15, 4, 15, 0.9));
        transform: scale(1.1) translate(-37px, 7px);
    }
}

@media screen and (max-width: 600px) {
    .tab__btn {
        width: 160px;
    }
    .scheme__img_collector {
        width: 160px;
        transform: translate(-4px, 0px);
    }
    .scheme__img_resonator {
        width: 190px;
        transform: translate(-3px, 8px);
    }
    .scheme__img_muffler {
        width: 135px;
        transform: translate(-32px, 8px);
    }
}

@media screen and (max-width: 500px) {
    .parts_item {
        padding: 0 3rem;
    }
    .tab__wrap {
        padding: 0 0.1rem;
    }
}

/*******SEARCH**************/

.search_container {
    display: flex;
    justify-content: center;
}
.search_wrap {
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;

    gap: 0.3rem;
    padding: 0px 2rem;
}
.search_area {
    /* width: 50rem; */
}

.search_area input {
    height: 2.3rem;
    width: 63rem;
    padding: 0 1rem;
}

.btn_search {
    padding: 3px 7px;
    background-color: #3576ad;
    color: #e6f6fc;
    border: none;
    cursor: pointer;
    height: 2.3rem;
    width: 70px;
    border-radius: 1px;
}
@media screen and (max-width: 1162px) {
    .search_area input {
        width: 50rem;
    }
}

@media screen and (max-width: 960px) {
    .search_container {
        position: absolute;
        transform: translate(-1px, -85px);
    }
    .search_wrap {
        width: 250px;
        gap: 0.3rem;
        flex-direction: column;
        justify-content: flex-start;
    }
    .search_area {
        max-width: 250px;
    }

    .search_area input {
        height: 2.3rem;
        width: 250px;
    }
    .btn_search {
        width: 250px;
    }
}
