/* custom css */

.parts_item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    padding: 0 6rem;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow 0.25s;
    border-radius: 2px;
}

.card-panel,
.card,
.btn {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card_content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    min-height: 99px;
}
.card_title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
}

.card_red {
    background-color: #a62028;
}
.card_blue {
    background-color: #3576ad;
}
.card_green {
    background-color: #1fa492;
}
.card_disabled {
    opacity: 0.5;
}

.tab__wrap {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.tab__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6f6fc;
    width: 265px;
    height: 59px;
    cursor: pointer;
}
.tab__btn:hover {
    background-color: #ade9ff;
}
.tab__btn__active {
    background-color: #368fad;
}

.scheme__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20rem;
}
.scheme__img {
    width: 238px;
    transition: 450ms;
}
.scheme__img:hover {
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5))
        drop-shadow(0px 0px 15px rgba(50, 10, 50, 0.9));
}
.scheme__img_active {
    filter: drop-shadow(0px 0px 15px rgba(29, 34, 63, 0.5))
        drop-shadow(0px 0px 15px rgba(15, 4, 15, 0.9));
    transform: scale(1.11) rotate(7deg) translate(-15px, -33px) !important;
}

.scheme__img_resonator {
    width: 480px;
    transform: translate(-71px, -42px);
}
.scheme__img_muffler {
    transform: translate(-115px, -121px);
}

/***  scheme__part **/

.scheme__part {
    z-index: 5;
}
.scheme__part:first-child {
    z-index: 10;
}
.scheme__part:last-child {
    z-index: 1;
}
