@import '../colors.module.scss';
// :root  {
//     --main-color: #f5b921;
//     --main-color-bg: #0b162b;
//     --alt-color: #ffdd40;
// }

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    //color: $Corp-Black;
}

body {
    background-color: $White;
}

.navbar {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1), 0px 4px 16px rgba(0, 0, 0, 0.1),
        0px 8px 24px rgba(0, 0, 0, 0.1);
}

.nav {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        max-width: 1500px;
    }
    &-logo {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        //flex-grow: 1;
        img {
            height: 3rem;
            &:last-child {
                height: 4rem;
            }
        }
    }

    &-menu {
        display: flex;
        list-style: none;
        text-align: center;
        margin-right: 2rem;
    }
    &-links {
        color: $Sec-Gray;
        text-decoration: none;
        padding: 0.1rem 1rem;
        height: 100%;
        border-bottom: 3px solid transparent;
    }
    &-item {
        display: flex;
        flex-direction: column;
        line-height: 40px;
        margin-right: 1rem;
        align-items: center;
        border-bottom: 2px solid transparent;
        .img-active {
            filter: invert(38%) sepia(95%) saturate(374%) hue-rotate(165deg) brightness(92%)
                contrast(88%);
        }
        .img-pass {
            filter: invert(47%) sepia(7%) saturate(359%) hue-rotate(150deg) brightness(93%)
                contrast(87%);
        }
        &:after {
            content: '';
            display: block;
            height: 3px;
            width: 0;
            background: transparent;
            transition: width 0.7s ease, background-color 0.5s ease;
        }

        &:hover {
            border-bottom: 2px solid transparent;
            &:after {
                transform: translateY(-2px);
                width: 100%;
                background: $ActBlue;
            }
        }
        .active {
            text-decoration: none;
            padding: 0.1rem 1rem;
            height: 100%;
            border-bottom: 3px solid transparent;

            color: $Corp-Blue;
            border-bottom: 2px solid $Corp-Blue;
        }
    }
    &-icon {
        display: none;
        color: grey;
    }
    &-phones {
        display: flex;
        flex-direction: column;
        padding-right: 3rem;
        a {
            text-decoration: none;
            font-size: 22px;
            line-height: 150%;
            color: $Corp-Black;
        }
    }
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1100px) {
    .nav {
        &-menu {
            margin: 0.5rem;
        }
        &-item {
            margin-right: 0.3rem;
            a {
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 960px) {
    .nav-container {
        justify-content: start;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid rgba(185, 36, 10, 0.87);
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
        &-active {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            border-top: 1px solid #fff;
            position: absolute;
            top: 0px;
            text-align: center;
            background: $White;
            left: 0px;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
        }
        &-line {
            display: block;
            width: 2.5rem;
            height: 5px;
            background-color: $Corp-Blue;
            margin: 0.3rem 0;
            border-radius: 5px;
            transition: all 0.5s ease;
        }
        &-close {
            display: block;
            width: 2.5rem;
            height: 5px;
            background-color: transparent;
            margin: 0.3rem 0;
            border-radius: 5px;

            &:first-child {
                transition: all 0.5s ease;
                transform: rotate(45deg) translate(10px, 10px);
                background-color: $Corp-Black;
            }
            &:last-child {
                transition: all 0.5s ease;
                transform: rotate(135deg) translate(-3px, 5px);
                background-color: $Corp-Black;
            }
        }
    }
    .nav-phones {
        padding-left: 20vw;
    }
    .nav-item {
        img {
            display: none;
        }
        .active {
            color: #3576ad;
            border: none;
        }
    }
    .nav-links {
        padding: 1.5rem;
        //width: 100%;
        display: block;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: $Corp-Black;
        border-radius: 10%;
        border-width: 0px;
        background-color: transparent;
        transition: all 0.5s ease;
        z-index: 20;
    }
}

@media screen and (max-width: 610px) {
    .nav-phones {
        padding-left: 5vw;
    }
}
@media screen and (max-width: 500px) {
    .navbar {
        height: 145px;
    }
    .nav-phones {
        padding-left: 5vw;
        a {
            font-size: 20px;
        }
    }
    .nav-container {
        align-self: end;
        padding-bottom: 0.9rem;
    }
}
@media screen and (max-width: 450px) {
    .nav-phones {
        padding-right: 0;
        a {
            font-size: 17px;
        }
    }
    .nav-logo {
        margin-left: 1rem;
    }
}
