//**************  global css  ***************
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$Corp-Blue: #3576ad;
$Corp-Red: #a62028;
$Corp-Black: #2b2a2e;
$Corp-Green: #1fa492;
$Sec-Red: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #e3303c;
$Sec-Blue: #199ce3;
$Ctr-Red: #e3305c;
$Sec-Gray: #6c7477;
$Ctr-Gray: #cfdee3;
$Ctr-White: #e6f6fc;
$White: white;
$ActBlue: linear-gradient(90deg, #3576ad 0%, #30e3cb 186.42%);

section {
    padding: 60px 10rem;
}

@media screen and (max-width: 1000px) {
    section {
        padding: 60px 5rem;
    }
}
@media screen and (max-width: 400px) {
    section {
        padding: 60px 3rem;
    }
}
