@import './colors.module.scss';

.title {
    max-width: 612px;
    min-height: 243px;
    color: $White;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 150%;
    text-align: left;

    padding-left: 7rem;
}
.subtitle {
    max-width: 612px;
    min-height: 243px;
    color: whitesmoke;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 150%;
    padding-left: 7rem;
}
.header-circle {
    width: 6rem;
    height: 6rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 100%;
}
.kalimagi {
    display: flex;
    flex-direction: column-reverse;

    gap: 1.5rem;
}
.img-auto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
}
@media screen and (max-width: 1280px) {
    .title {
        padding: 9rem 0 0 5rem;
    }
    .kalimagi {
        padding-top: 12rem;
    }
}
@media screen and (max-width: 710px) {
    .subtitle {
        min-height: 180px;
    }
}

@media screen and (max-width: 576px) {
    .title {
        max-width: 500px;
        font-size: 40px;
        line-height: 110%;
        padding: 9rem 0 0 5rem;
    }
    .kalimagi {
        padding-top: 10rem;
    }
    .img-auto {
        width: 52px;
        height: 52px;
        img {
            width: 40px;
        }
    }
    .subtitle {
        max-width: 612px;
        min-height: 200px;
    }
}
@media screen and (max-width: 500px) {
    .title {
        max-width: 500px;
        font-size: 40px;
        line-height: 110%;
        padding: 12rem 0 0 5rem;
    }
}
@media screen and (max-width: 450px) {
    .title {
        max-width: 400px;
        font-size: 32px;
        line-height: 110%;
        padding: 10rem 0 0 5rem;
    }
    .kalimagi {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .title {
        max-width: 400px;
        font-size: 34px;
        line-height: 110%;
        padding-left: 3rem;
    }
    .kalimagi {
        display: none;
    }
    .subtitle {
        min-height: 190px;
    }
}
