@import '../colors.module.scss';
.title {
    font-weight: bold;
    font-size: 46px;
    color: $Corp-Black;
}

.text-block {
    background-color: $White;
    margin: 70px 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: 550px;
}

.text-chank {
    font-size: 18px;
    color: $Corp-Black;
    font-weight: 400;
    margin: 0;
    text-align: left;
}

@media screen and (max-width: 630px) {
    .text-block {
        margin: -5px 0;
    }
}
