@import '../colors.module.scss';

.footer {
    &-main {
        padding: 3rem 3rem 0;
        //margin-top: 2rem;
        display: grid;
        grid-template: 1fr /1fr 1fr 1fr;
        justify-items: center;
    }

    &-logo {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    &-nav {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    &-title {
        color: $Sec-Gray;
        font-weight: 500;
        font-size: 14px;
    }
    &-item {
        color: $Corp-Black;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-decoration: none;
        &:hover {
            color: $Sec-Blue;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    &-block {
        display: flex;
        flex-direction: column;
        row-gap: 0.3rem;
    }
    &-phone {
        font-size: 24px;
        a {
            text-decoration: none;
        }
    }
    &-schedule {
        font-weight: bold;
        font-size: 16px;
    }
    &-email {
        font-size: 16px;
        a {
            text-decoration: none;
        }
    }
    &-adress {
        font-weight: 400;
        font-size: 16px;
        color: $Corp-Black;
    }
    &-politics {
        display: flex;
        column-gap: 5rem;
        justify-content: center;
        margin-top: 0.7rem;
        color: $Sec-Gray;
    }
    &-line {
        height: 1px;
        width: 100%;
        background-color: $Sec-Gray;
        margin-top: 1.7rem;
    }
    &-devs {
        margin-top: 0.3rem;
        display: flex;
        justify-content: flex-end;
        color: $Sec-Gray;
        font-size: 10px;
    }
    &-pitem {
        font-size: 12px;
    }
}
/********* MEDIA **********/

@media screen and (max-width: 576px) {
    .footer {
        &-main {
            padding: 3rem 1rem 1rem 4rem;
            display: grid;
            grid-template: 1fr/1fr;
        }
        &-logo {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
            grid-area: 1/2;
        }

        &-nav {
            margin-top: 2rem;
            grid-area: 3/2;
            justify-self: start;
        }
        &-info {
            grid-area: 2/2;
            justify-self: start;
        }
        &-politics {
            padding-left: 4rem;

            flex-direction: column;
            gap: 1rem;
        }
    }
}
