@import '../colors.module.scss';

.slider__container {
    width: 65vw;

    margin: 50px auto 0;
    position: relative;
    // display: flex;
    // width: 100%;
    // position: relative;
}

.catalog__slider {
    display: flex;
    overflow-x: scroll;
    list-style: none;
    scrollbar-width: none;

    scroll-snap-type: x mandatory;
}

.catalog__slider::-webkit-scrollbar {
    display: none;
}

.catalog__slider-item {
    // width: 100%;
    min-width: 65vw;
    scroll-snap-align: start;
}

.catalog__slider-control {
    width: 70px;
    height: 70px;
    background-color: $Corp-Blue;
    font-size: 25px;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 50%;
    transform: translateY(45px);
    color: $White;
    border: none;
}

.catalog__slider-control:first-child {
    left: 0;
}

@media (pointer: coarse) {
    .catalog__slider-control {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .catalog__slider-item {
        min-width: 80vw;
    }
}
@media screen and (min-width: 1600px) {
    .catalog__slider-item {
        min-width: 50vw;
    }
    .slider__container {
        width: 50vw;
    }
}
